@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}


.nav {
    font-family: 'Montserrat', sans-serif;
    background-color: #24252A;
    color: #edf0f1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 20px 5%;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 20px;

}

.nav li {
    transition: all 0.3s ease 0s;
}
.nav li:hover {
    color: #0088a9;
}

.button-default {
    padding: 10px;
    color: black;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
    box-shadow: 1px 2px 4px gray;
}

.button-default-box {
    padding-top: 10px;
    padding-bottom: 10px;
}

.textbox-default {
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(241, 241, 241);
    font-size: 14px;
    box-shadow: 1px 2px 4px lightgray;
}

.textbox-default-box {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.container-default {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.input-container {
    margin: 0 auto;
    text-align: left;
    width: 70%;
}

.link-button-default {
    font-size: 22px;
    color: black;
    font-weight: normal;
}

.error-text {
    color: red;
    font-size: 20px;
}

.error-text-small {
    color: red;
    font-size: 16px;
}

.item-box {
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    background-color: rgb(242, 242, 242);
    box-shadow: 1px 2px 4px lightgray;
}

.link-button {
    text-decoration: none;
}

.link-button-box {
    border: 2px solid black;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    box-shadow: 1px 2px 4px gray;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.link-button-text {
    font-size: 24px;
    text-decoration: none;
    color: black;
}