@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}


.nav {
    font-family: 'Montserrat', sans-serif;
    background-color: #24252A;
    color: #edf0f1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 20px 5%;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 20px;

}

.nav li {
    transition: all 0.3s ease 0s;
}
.nav li:hover {
    color: #0088a9;
}